---
title: Nyheter
layout: layouts/base.vto
url: /nyheter/
---
<section class="news-archive">
  <h1>Nyheter</h1>
  <div class="posts-list">
    {{ set postslist = search.pages("type=news") }}
    {{ include "templates/posts_list.vto" }}
  </div>
</section>
