body {
  margin: 0;
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  padding-top: 3.2rem;
  padding-bottom: 0.8em;
}

nav, footer {
  background-color: #f0f0f0;
}

main {
  min-height: 50vh;
}

footer {
  padding: 0.8em 1.6rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

footer strong {
  font-size: 1.6rem;
  margin: 0.8em 0;
  color: #666;
  text-transform: uppercase;
  display: block;
}

footer ul {
  list-style-type: "\1F517";
  list-style-position: inside;
  margin: 0;
  padding: 0;

  & a {
    padding-left: .8em;
  }
}

figure img {
  border-radius: 6px;
}

figcaption {
  font-style: italic;
}

.menu {
  list-style: none;
  padding: 0.8rem 1.6rem;
  margin: 0;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: space-evenly;

  & a {
    background-color: #FECC02;
    padding: 0.4em 0.8em;
    border-radius: 8px;
    display: block;
    color: black;
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
}

article,
footer {
  max-width: 800px;
  margin: 0 auto;
}

article {
  & p {
    hyphens: auto;
    text-align: justify;
    word-break: break;
  }
}

header {
  display: flex;
  flex-flow: column nowrap;

  & .band {
    display: grid;
    place-items: center;
    position: relative;
    background-color: #004b88;
    height: 64px;
    width: 100vw;
  }

  & a {
    flex: 1;
    display: grid;
    place-items: center;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
    width: 128px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
  }

  & .hero {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  }


  & figure {
    width: 128px;
    height: 128px;
    position: relative;
    margin: 0;
    transform: translateY(-30px);
  }
}

article {
  padding: 1.6rem;
}

picture {
  display: contents;
}
