<!DOCTYPE html>
<html lang="sv">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>{{ title }}{{ if title }} | {{ /if }}Fort 118 - Sjöänd Skans</title>
  </head>
  <body>
    <header>
      <img src="/img/hero-image.jpg" class="hero" alt="soldater is skyttegrav">
      <div class="band">
        <figure>
          <img src="/img/logo.svg" class="logo" alt="logo">
          <a href="/">Fort 118</a>
        </figure>
      </div>
    </header>
    <nav>
      <ul class="menu">
        <li>
          <a href="/">Hem</a>
        </li>
        {{ for item of nav.menu().children }}
          <li>
            {{ include "templates/menu_item.vto" { item } }}
          </li>
        {{ /for }}
      </ul>
    </nav>
    <main>
      <article>
        {{ content }}
      </article>
    </main>
  </body>
</html>